@font-face {
  font-family: "Lato";
  src: url("../src/fonts/Lato-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../src/fonts/Lato-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url("../src/fonts/Lato-Italic.ttf") format("ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../src/fonts/Lato-Light.ttf") format("ttf");
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: "Novecento";
  src: url("../src/fonts/Novecentosanswide-Normal.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Novecento";
  src: url("../src/fonts/Novecentosanswide-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

:root {

  --font-primary: 'Lato', sans-serif;
  --font-secondary: 'Novecento', serif;

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;

   /* spacing values */
   --space-xxxs: 0.25em;
   --space-xxs:  0.375em;
   --space-xs:   0.5em;
   --space-sm:   0.75em;
   --space-md:   1.25em;
   --space-lg:   2em;
   --space-xl:   3.25em;
   --space-xxl:  5.25em;
   --space-xxxl: 8.5em;

}

/**
 * Basic typography style for copy text
 */
 body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

h1, h2, h3, h4, form legend {
  font-family: var(--font-secondary);
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
  font-weight: bold;
  text-transform: lowercase;
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1, .text--xxl {
  font-size: var(--text-xxl);
}

h2, .text--xl {
  font-size: var(--text-xl);
}

h3, .text--lg {
  font-size: var(--text-lg);
}

h4, .text--md {
  font-size: var(--text-md);
}

.text--sm, small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}

h2, h3, h4 {
  margin-top: var(--space-sm);
}

ul, ol, p {
  margin-bottom: var(--space-md);
}

a {
  color: $brand-color;

  // &:visited {
  //     color: var(--color-link-visited);
  // }
}

b, strong {
  font-weight: bold;
}
em { font-style:italic; }
strong em {
	font-weight:bold;
	font-style:italic;
}