.button {
  position: relative;
  background-color: $brand-color;
  font-family: 'Novecento', serif;
  border: none;
  color: white;
  padding: 15px 32px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-box-shadow: 15px 15px $dark-grey;
  -moz-box-shadow: 15px 15px $dark-grey;
  box-shadow: 15px 15px $dark-grey;

  animation: button_animation 1s ease forwards;
  transition: box-shadow 1s;

  &:hover{
    background-color: $secondary-color;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px $dark-grey;
    -moz-box-shadow: 0px 0px $dark-grey;
    box-shadow: 0px 0px $dark-grey;
  }
  &-copy{
    background-color: $dark-grey;
    padding: 8px 16px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    display: block;
  }
}

@-webkit-keyframes button_animation {
  0% { -webkit-box-shadow: 15px 15px $dark-grey; -moz-box-shadow: 15px 15px $dark-grey; box-shadow: 15px 15px $dark-grey; }
  25% { -webkit-box-shadow: 5px 5px $dark-grey; -moz-box-shadow: 5px 5px $dark-grey; box-shadow: 5px 5px $dark-grey; }
  50% { -webkit-box-shadow: 15px 15px $dark-grey; -moz-box-shadow: 15px 15px $dark-grey; box-shadow: 15px 15px $dark-grey; }
  75% { -webkit-box-shadow: 5px 5px $dark-grey; -moz-box-shadow: 5px 5px $dark-grey; box-shadow: 5px 5px $dark-grey; }
  100% { -webkit-box-shadow: 15px 15px $dark-grey; -moz-box-shadow: 15px 15px $dark-grey; box-shadow: 15px 15px $dark-grey; }
}