.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

.row {
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-shrink: 1;
  flex-basis: 0;
  flex-grow: 1;
}

[class*=col] {
  padding: ($gutter / 2);
}

[class*=col].no-gutter {
  padding: 0;
}

/**
* EXTRA SMALL (XS)
*/
@include gridGenerator($breakpoint: 'xs', $offset: true);

/**
* SMALL (SM), MEDIUM (MD), LARGE (LG)
*/
@include sm {
    @include gridGenerator($breakpoint: 'sm', $offset: true);
}

@include md {
    @include gridGenerator($breakpoint: 'md', $offset: true);
}

@include lg {
    @include gridGenerator($breakpoint: 'lg', $offset: true);
}
@media only screen and (max-width: 768px) {

  .row {
    padding: 20px 20px;
  }
}