header{

  background: linear-gradient(rgba($secondary-color, 0.9),rgba($secondary-color, 0.9)), url("../src/img/nau-qf.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.header{
  h1{
    color: white;
    margin-top: 4px;
  }
  h3{
    margin-bottom: 4px;
  }
}